# Binary T2 filetypes that shouldn't be committed
*.dso
*.vl2

# Irrelevant Classic mod paths
editor/
lighting/
prefs/
gui/
recordings/
fonts/
Classic*

# scripts folder need to be ignored and then exclusions have to be carved out
# scripts/ ignores the entire path forever, whereas scripts/* is treated as a pattern
# ! lets you carve out an exception pattern
scripts/*
!scripts/SkillSector*.cs
